.navbar{
    background-size: cover;
    background-repeat: no-repeat;
    // filter: brightness(50%);
    background-color: white;

    color: black;

    a{
        color: black;
        text-decoration: none;
    }

    a:hover{
        text-decoration: underline;
    }
}

.main-page-image{
    background-image: url('/assets/f1img.jpg');
    background-size: 100% auto;
    background-repeat: no-repeat;
}
