body {
  font-family: "Jost", sans-serif;
}

.navbar {
  background-size: cover;
  background-repeat: no-repeat;
  background-color: white;
  color: black;
}
.navbar a {
  color: black;
  text-decoration: none;
}
.navbar a:hover {
  text-decoration: underline;
}

.main-page-image {
  background-image: url("../assets/header5.png");
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.masthead {
  background-size: cover;
  min-height: 45vh;
  position: relative;
  color: white;
  background-image: url("../assets/header5.png");
}

.masthead-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

@media (max-width: 768px) {
  .masthead {
    min-height: 30vh;
  }
  .masthead-equipment {
    min-height: 15vh;
  }
}
.masthead-small {
  background-size: cover;
  min-height: 30vh;
  position: relative;
  color: white;
  background-image: url("../assets/header5.png");
}

.list-link {
  color: black;
}

.bg-custom1 {
  background-color: rgb(19, 22, 26);
}

textarea {
  padding: 15px;
}

.rating {
  display: inline-block;
  position: relative;
  height: 50px;
  line-height: 50px;
  font-size: 50px;
}

.rating label {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  cursor: pointer;
}

.rating label:last-child {
  position: static;
}

.rating label:nth-child(1) {
  z-index: 5;
}

.rating label:nth-child(2) {
  z-index: 4;
}

.rating label:nth-child(3) {
  z-index: 3;
}

.rating label:nth-child(4) {
  z-index: 2;
}

.rating label:nth-child(5) {
  z-index: 1;
}

.rating label input {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

.rating label .icon {
  float: left;
  color: transparent;
}

.rating label:last-child .icon {
  color: #000;
}

.rating:not(:hover) label input:checked ~ .icon,
.rating:hover label:hover input ~ .icon {
  color: rgb(255, 234, 0);
}

.rating label input:focus:not(:checked) ~ .icon:last-child {
  color: #000;
  text-shadow: 0 0 5px rgb(255, 234, 0);
}